.button__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 0px;
}

.button__timer {
  width: 500px;
  height: 150px;
  font-size: 45px;
  border-radius: 35%;
  color: black;
  cursor: pointer;
  background: none;
  border: black 2px solid;
  padding: 0px;
}

.button__timer:hover {
  background-color: lightgray;
  cursor: pointer;
  border-color: green;
}

@media (max-width: 850px) {
  .button__timer {
    width: 300px;
    height: 120px;
    font-size: 30px;
  }
}
